<a href="https://colab.research.google.com/github/YashMistry1406/Machine_learning_stuff/blob/main/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df= pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
df.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
df.population

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [ ]:
df['median_income']

0        1.4936
1        1.8200
2        1.6509
3        3.1917
4        1.9250
          ...
16995    2.3571
16996    2.5179
16997    3.0313
16998    1.9797
16999    3.0147
Name: median_income, Length: 17000, dtype: float64

In [ ]:
df.iloc[:,3
        ]

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [ ]:
df.loc[df.housing_median_age==20]

       longitude  latitude  ...  median_income  median_house_value
4        -114.57     33.57  ...         1.9250             65500.0
20       -114.68     33.49  ...         1.6395             44400.0
22       -114.94     34.55  ...         1.6250             50000.0
48       -115.51     32.99  ...         1.9088             63700.0
80       -115.56     32.79  ...         1.1707             62500.0
...          ...       ...  ...            ...                 ...
16851    -123.43     40.22  ...         3.6250             67500.0
16855    -123.53     40.88  ...         2.2115             75000.0
16959    -124.16     40.95  ...         3.1406             96000.0
16968    -124.17     41.76  ...         2.4605            105900.0
16988    -124.21     41.75  ...         2.0074             66900.0

[383 rows x 9 columns]

In [ ]:
df.population.mean()

1429.5739411764705

In [ ]:
df.median_house_value.unique()

array([ 66900.,  80100.,  85700., ..., 119700.,  75100.,  80500.])

In [ ]:
df.groupby('households').households.count()

households
1.0       1
2.0       2
3.0       2
4.0       4
5.0       7
         ..
4616.0    1
4769.0    1
5050.0    1
5189.0    1
6082.0    1
Name: households, Length: 1740, dtype: int64

In [ ]:
df.sort_values(by='population')

       longitude  latitude  ...  median_income  median_house_value
8232     -118.44     34.04  ...         0.5360            350000.0
2990     -117.79     35.21  ...         2.3750            137500.0
2907     -117.76     35.22  ...         1.6250            275000.0
14105    -122.06     37.39  ...         3.7500            375000.0
288      -116.76     34.14  ...         0.5360             42500.0
...          ...       ...  ...            ...                 ...
3296     -117.87     34.04  ...         6.6288            339700.0
2969     -117.78     34.03  ...         6.0191            253900.0
2871     -117.74     33.89  ...         7.4947            366300.0
12772    -121.79     36.64  ...         2.3087            118800.0
2274     -117.42     33.35  ...         2.5729            134400.0

[17000 rows x 9 columns]

In [ ]:
df.groupby(['housing_median_age','households']).size().sort_values(ascending=False) #it will show the numberof households with a paticular meadian age 
#the below example is form kaggle practise of pandas           
"""
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ... 
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64
"""

housing_median_age  households
52.0                249.0         7
                    424.0         7
36.0                337.0         7
52.0                297.0         6
                    380.0         6
                                 ..
31.0                771.0         1
                    760.0         1
                    757.0         1
                    754.0         1
1.0                 112.0         1
Length: 13175, dtype: int64

In [ ]:
df.groupby('total_rooms').median_house_value.mean()  #it shows the meanvalue for the index value in this case it is the total rooms

total_rooms
2.0        137500.0
8.0        500001.0
11.0       162500.0
12.0        67500.0
15.0       256250.0
             ...
30401.0    212300.0
30405.0    399200.0
32054.0    253900.0
32627.0    118800.0
37937.0    366300.0
Name: median_house_value, Length: 5533, dtype: float64